@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a73e8;
}

.product-container {
  width: 350px;
  padding: 20px;
  margin: 0 30px;
  border-radius: 10px;
  background-color: #fff;
}

.product-container__title {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0 0 0;
}

.product-container__subtitle {
  font-size: 16px;
  margin: 10px 0;
}

.product-container__buy-btn {
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: #f98a00;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.product-container__buy-btn:hover {
  background-color: #d77700;
}

.product-container__price {
  display: flex;
  margin: 10px 0;
}